
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    
</head>
<body>
    <div class="gg">
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <strong>{{ producto.nombre }}</strong> - ${{ producto.precio }}
                <p>{{ producto.descripcion }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>